{
    "openai_api_key": "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",
    "telegram_bot_token": "<6040908594:AAFmE6NL68ymn8QPAGrhlZOJZkmxt6WIIq0>",
    "allowed_users": [
        "<USER_ID_1>",
        "<USER_ID_2>"
    ],
    "wait_time": 300
}